@import 'http://fonts.googleapis.com/css?family=Quantico|Cabin+Condensed|Dosis|Electrolize|Spinnaker|Francois+One|Iceberg|Share|Tulpen+One|Wallpoet';

body {
  background-color: #000000;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 9999;
  opacity:0;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

#leaderboard {
  display: none;
  color: white;
  font-family: 'Wallpoet', cursive;
  font-size: 30px;
  width: 100%;
  text-align: center;
}

#leaderboard caption {
  font-size: 60px;
}

#leaderboard th {
  border-bottom: 1px solid white;
}

.numRank {
  width: 30%;
}

.edit-icon {
  display: inline-block;
  width: 40px;
  opacity: 0.25;
}

.icon {
  display: inline-block;
  width: 40px;
  position: absolute;
}

#icon1 {
  left: 100px;
  display: inline-block;
}

#icon2 {
  left: 150px;
  display: none;
}

#icon3 {
  left: 200px;
  display: none;
}

#icon4 {
  left: 250px;
  display: none;
}

#icon5 {
  left: 300px;
  display: none;
}

#icon6 {
  left: 350px;
  display: none;
}

#icon7 {
  left: 400px;
  display: none;
}

#icon8 {
  left: 450px;
  display: none;
}

#icon9 {
  left: 500px;
  display: none;
}