@font-face {
  font-family: 'Wallpoet';
  font-style: normal;
  font-weight: 400;
  src: local('Wallpoet'), url(/fonts/wallpoet.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  background-color: #000000;
}

#inputScreen {
  display: none;
}

.form-control {
  height: 45px;
  font-size: 25px;
  color: white;
  background-color: black;
  border: 2px, solid, white;
}

.btn-default {
  color: white;
  background-color: black;
}

.btn {
  font-size: 23px;
}

#leaderboard {
  display: none;
  color: white;
  font-family: 'Wallpoet', cursive;
  font-size: 30px;
  width: 100%;
  text-align: center;
}

#leaderboard caption {
  font-size: 60px;
}

#leaderboard th {
  border-bottom: 1px solid white;
}

.numRank {
  width: 30%;
}

.edit-icon {
  display: inline-block;
  width: 40px;
  opacity: 0.25;
}

.icon {
  display: inline-block;
  width: 40px;
  position: absolute;
}

#icon1 {
  left: 100px;
  display: inline-block;
}

#icon2 {
  left: 150px;
  display: none;
}

#icon3 {
  left: 200px;
  display: none;
}

#icon4 {
  left: 250px;
  display: none;
}

#icon5 {
  left: 300px;
  display: none;
}

#icon6 {
  left: 350px;
  display: none;
}

#icon7 {
  left: 400px;
  display: none;
}

#icon8 {
  left: 450px;
  display: none;
}

#icon9 {
  left: 500px;
  display: none;
}
