@import 'http://fonts.googleapis.com/css?family=Quantico|Cabin+Condensed|Dosis|Electrolize|Spinnaker|Francois+One|Iceberg|Share|Tulpen+One|Wallpoet';

.time {
  color: #dcecff;
  font-family: 'Wallpoet', cursive;
  font-size: 40px;
  text-align: center;
  text-shadow: 0 0 3px #dcecff;
}
.sec:before {
  content: ': ';
}
.sec:after {
  content: ' :';
}