#myStopWatch {
  top: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
}

.time {
  color: #dcecff;
  font-family: 'Wallpoet', cursive;
  font-size: 40px;
  /*text-shadow: 0 0 3px #dcecff;*/
}
.sec:before {
  content: ': ';
}
.sec:after {
  content: ' :';
}
